h1 {
    text-align: center;
    font-size: 50px;
}
header{
    background-color: #FF1694;
}
article p{
    font-size: 30px;
    background-color: white;
}
footer{
    font-size: 25px;
    background-color:#FF1694;
    text-align: center;
}
img{
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#founder{
text-align: center;
font-size: 20px;
font-style: italic;
}
#companyinfo{
    background-color: #FE7F9C;
}
body{
    background-color: lightpink;
}
h2{
    font-size: 30px;
    font-style: italic;
}